<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
	<link href="../static/css/bootstrap.css" rel="stylesheet"
	      media="screen">
    <link href="../static/css/AdminLTE.min.css" rel="stylesheet"
	      media="screen">
    <link href="../static/css/skins/_all-skins.min.css" rel="stylesheet"
	      media="screen">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <header class="main-header">
      <a href="/" class="logo">
        <!-- LOGO -->
        XSBackup
      </a>
      <!-- Header Navbar: style can be found in header.less -->
      <nav class="navbar navbar-static-top" role="navigation">
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav navbar-right">
              <li><a href="/login">Logout</a></li>
          </ul>
        </div>
      </nav>
    </header>
</div>
    <div class="main-sidebar">
  <!-- Inner sidebar -->
        <div class="sidebar">
            <ul class="sidebar-menu">
                <li><a href="/"><span>Panel</span></a></li>
                <li><a href="/hosts"><span>Hosts</span></a></li>
                <li><a href="/vms/all"><span>VM</span></a></li>
                <li><a href="/storage"><i class="glyphicon glyphicon-hdd"></i><span>Storage</span></a></li>
                <li><a chref="/backup"><span>Backups</span></a></li>
            </ul>
        </div>
    </div>
        <!-- Right side column. Contains the navbar and content of the page -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    {% block page_title %}{% endblock %}
                    <small>{% block page_subtitle %}{% endblock %}</small>
                </h1>
                {% block breadcrumb %}
{#                    {% show_breadcrumb %}#}
                {% endblock %}
            </section>

            <!-- Main content -->
            <section class="content">
                {% block content %}{% endblock %}
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->



    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/app.min.js"></script>

    <script>
        {% block script %}
        {% endblock %}
    </script>

</body>
</html>