<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>XENServerBackup</title>
	<link href="../static/css/bootstrap.css" rel="stylesheet"
	      media="screen">
</head>
<body>
      <div class="container">
        <div class="page-header" align="center">
          <h1>XENServerBackup</h1>
        </div>
      </div>

    <div class="container-fluid">
	  <div class="row-fluid">
	    <div class="span1">
		    <ul class="nav nav-pills nav-stacked">
				<li><a class="btn" href="/">Panel</a></li>
	            <li><a class="btn" href="/hosts">Hosts</a></li>
	            <li><a class="btn" href="/vms/all">VM</a></li>
	            <li><a class="btn" href="/storage">Storage</a></li>
	            <li><a class="btn" href="/backup">Backups</a></li>
			</ul>
	    </div>

	    <div class="span11">
			{% block content %}
			{% endblock %}
	    </div>
	  </div>

	</div>

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
</body>
</html>