<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>XENServerBackup</title>
</head>
<body>
    <table border="1" align="left" width="100%">
        <tr>
            <td align="center" colspan="2">
                <h1>XENServerBackup</h1>
            </td>
        </tr>
        <tr>
            <td width="15%" align="left">
                <a href="/">Panel</a><br>
                <a href="/hosts">Hosts</a><br>
                <a href="/vms/all">VM</a><br>
                <a href="/backup">Backups</a><br>
            </td>
            <td width="85%" align="center">
                {% block content %}
                {% endblock %}
            </td>
        </tr>
    </table>
</body>
</html>