{% extends "base.html"%}
{% block page_title %}Hosts{% endblock %}
{% block content %}
    <div class="btn-box-tool" align="right">
        <button type="button" class="btn bg-green btn-flat" data-toggle="modal" data-target="#hostModal">
            ADD
        </button>
        <button type="button" class="btn bg-red btn-flat" id="rmHost">
            Remove
        </button>
    </div>

    <!-- Add Host modal window  -->
    <div class="modal fade" tabindex="-1" role="dialog" id="hostModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Add host</h4>
          </div>
          <div class="modal-body">
            <!-- form start -->
            <form class="form-horizontal" method="post" id="hostForm" action="/host/">
                <!-- IP field -->
                <div class="form-group">
                  <label for="inputIP" class="col-sm-2 control-label">Host IP</label>
                  <div class="col-sm-10">
                    <input required pattern="^(?:[0-9]{1,3}\.){3}[0-9]{1,3}$" type="text" class="form-control" name="ip" id="inputIP"
                            placeholder="IP address 99.88.77.66">
                  </div>
                </div>
                <!-- login field -->
                <div class="form-group">
                  <label for="inputLogin" class="col-sm-2 control-label">Login</label>

                  <div class="col-sm-10">
                    <input required type="text" class="form-control" name="login" id="inputLogin"
                           placeholder="Login">
                  </div>
                </div>
                <!-- password field -->
                <div class="form-group">
                  <label for="inputPassword" class="col-sm-2 control-label">Password</label>

                  <div class="col-sm-10">
                    <input required type="password" class="form-control" name="password" id="inputPassword"
                           placeholder="Password">
                  </div>
                </div>
                <button type="submit" class="btn btn-primary" id="addHost">ADD</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </form>
          </div>
          <div class="modal-footer">
              <div class="progress" style="display:none" id="progress">
                  <div class="progress-bar progress-bar-primary progress-bar-striped active"
                       role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
                       style="width: 100%">
                    </div>
              </div>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Rm Host modal window  -->
    <div class="box">
    <div class="box-body table-responsive no-padding">
        <table class="table table-hover" width="100%" id="hostsTable">
            <tr>
                <th>Host name</th>
                <th>Pool</th>
                <th>IP address</th>
            </tr>
        </table>
    </div>
    </div>


{% endblock %}

{% block script %}
    <script src="../static/js/pages/hosts.js"></script>
{% endblock %}
