{% extends "base.html" %}
{% block page_title %}INFO{% endblock %}
{% block content %}
    <form action="" method="post" name="navigate">

    </form>
    <div class="col-lg-4">
        <div class="row">
            <div class="info-box">
          <!-- Apply any bg-* class to to the icon to color it -->
              <span class="info-box-icon bg-gray"><i class="fa fa-cog"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">Hosts</span>
                <span class="info-box-number">0</span>
              </div><!-- /.info-box-content -->
            </div><!-- /.info-box -->
        </div>
    </div>

{% endblock %}