{% extends "base.html" %}
{% block page_title %}Storage{% endblock %}
{% block content %}
    <!-- Add  backup SR modal window  -->
    <div class="modal fade" tabindex="-1" role="dialog" id="srModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Add host</h4>
          </div>
          <div class="modal-body">
            <!-- form start -->
            <form class="form-horizontal" method="post" id="hostForm" action="/storage/">
                <!-- SR type field -->
                <div class="form-group">
                  <label for="inputIP" class="col-sm-2 control-label">Storage type</label>
                  <div class="col-sm-10">
                    <select name="protocol" class="form-control">
                        <option value="smb">smb</option>
                        <option value="nfs">nfs</option>
                        <option value="folder">folder</option>
                    </select>
                  </div>
                </div>
                <!-- SR name field -->
                <div class="form-group">
                  <label for="inputIP" class="col-sm-2 control-label">Storage name</label>
                  <div class="col-sm-10">
                    <input required type="text" class="form-control" name="ip" id="inputIP"
                           placeholder="myStorage">
                  </div>
                </div>
                <!-- SR path field -->
                <div class="form-group">
                  <label for="inputIP" class="col-sm-2 control-label">Storage path</label>
                  <div class="col-sm-10">
                    <input required type="text" class="form-control" name="ip" id="inputIP">
                  </div>
                </div>
                <!-- login field -->
                <div class="form-group">
                  <label for="inputLogin" class="col-sm-2 control-label">Login</label>

                  <div class="col-sm-10">
                    <input required type="text" class="form-control" name="login" id="inputLogin"
                           placeholder="Login">
                  </div>
                </div>
                <!-- password field -->
                <div class="form-group">
                  <label for="inputPassword" class="col-sm-2 control-label">Password</label>

                  <div class="col-sm-10">
                    <input required type="password" class="form-control" name="password" id="inputPassword"
                           placeholder="Password">
                  </div>
                </div>
                <button type="submit" class="btn btn-primary" id="addSr">ADD</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </form>
          </div>
          <div class="modal-footer">
              <div class="progress" style="display:none" id="progress">
                  <div class="progress-bar progress-bar-primary progress-bar-striped active"
                       role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
                       style="width: 100%">
                    </div>
              </div>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="btn-box-tool" align="right">
        <button type="button" class="btn bg-green btn-flat" data-toggle="modal" data-target="#srModal">
            ADD
        </button>
        <button type="button" class="btn bg-red btn-flat" id="rmHost">
            Remove
        </button>
    </div>

    <h2>Backup storage</h2>
    <div class="box">
        <div class="box-body table-responsive no-padding">
            <table class="table table-hover" width="100%" id="backupSrTable">
                <tr>
                    <th>Storage</th>
                    <th>Type</th>
                    <th>Path</th>
                </tr>
            </table>
        </div>
    </div>

    <h2>Host storage</h2>
    <div class="box">
        <div class="box-body table-responsive no-padding">
            <table class="table table-hover" width="100%" id="hostSrTable">
                <tr>
                    <th>SR</th>
                    <th>Type</th>
                    <th>Size/Used MB</th>
                    <th>Share</th>
                    <th>Pool</th>
                </tr>
            </table>
        </div>
    </div>

{% endblock %}
{% block script %}
    <script src="../static/js/pages/sr.js"></script>
{% endblock %}