{% extends "base.html" %}
{% block content %}

	{% if form.backup_info %}
		<div class="alert">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			{% if form.backup_info['result'] == 'fail' %}
				<strong>Warning!</strong> Backup failed
			{% endif %}
			{% if form.backup_info['result']== 'ok' %}
				<strong>Message!</strong> Backup complete
			{% endif %}
		</div>
	{% endif %}

	<h1 align="center">VM {{form.vm['vm_name']}}</h1>

	<div align="left">
		<h2>Info</h2>
	</div>
	<div align="right">
		<form action="" method="post" name="vm">
			{{form.backup_btn}}
		</form>
	</div>
	<br>
	<form name="restore_form" role="form" method="get">
		<div align="center">
			<h2>Backups</h2>
		</div>
		<div class="btn-group" align="right">
			<button  type="submit" name="submit" value="restore"
			         class="btn">restore</button>

			<button  type="submit" name="submit" value="full_restore"
			         class="btn">full restore</button>

			<button  type="submit" name="submit" value="remove"
			         class="btn">remove</button>
		</div>

		{% if form.alert %}
		<div class="alert">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<strong>Alert!</strong> Please select backup
		</div>
		{% endif %}

		<table class="table table-striped" border="2" align="left" width="100%">
			<tr>
				<td>
					<h3>VM name</h3>
				</td>
				<td>
					<h3>VDIs</h3>
				</td>
				<td>
					<h3>Backup time</h3>
				</td>
			</tr>
			{% for backup in form.backups %}
				<tr>
					<td>
	                    <input type="radio" name="backup" value="{{backup['_id']}}"> {{backup['vm_name']}}<Br>
					</td>
					<td>
						<div align="center">
							{% for vdi in backup['vdis']%}
								{{vdi}} <br>
							{% endfor %}
							<br>
						</div>
					</td>
					<td>
						<div align="center">
							{{backup['date']}}
							<br>
						</div>
					</td>
				</tr>
			{% endfor %}
		</table>

	</form>

{% endblock %}