{% extends "base.html" %}
{% block page_title %}Virtual Machines{% endblock %}
{% block content %}

    <div class="btn-box-tool" align="right">
        <button type="button" class="btn bg-green btn-flat" data-toggle="modal" data-target="#host">
            Backup
        </button>
    </div>

    <div class="box">
        <div class="box-body table-responsive no-padding">
            <table class="table table-hover" width="100%" id="hostsTable">
                <tr>
                    <th>VM</th>
                    <th>Pool</th>
                </tr>
            </table>
        </div>
    </div>

{% endblock %}
{% block script %}
    <script src="../static/js/pages/vm.js"></script>
{% endblock %}